.switcher {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 1rem;
    &__button {
        width: 36px;
        height: 36px;
        border-radius: 100%;
        padding: unset;
        background-size: cover;
        background-position: center;        
        border: 2px solid #ffffff;
        cursor: pointer;
        opacity: 0.7;
        &--eng {
            background-image: url(https://firebasestorage.googleapis.com/v0/b/portfoliobackend-aae35.appspot.com/o/uk.png?alt=media&token=3048f1a0-f848-47fd-afcc-1223e6af8c7a);
        }
        &--spa {
            background-image: url(https://firebasestorage.googleapis.com/v0/b/portfoliobackend-aae35.appspot.com/o/spain.png?alt=media&token=65786e68-8392-4243-9fad-802e44e37c6c);
        }
        &--fr {
            background-image: url(https://firebasestorage.googleapis.com/v0/b/portfoliobackend-aae35.appspot.com/o/france.png?alt=media&token=261f5767-d4f4-4217-bc65-2fc3f2090f2f);
        }
        &:hover {
            color: #000000;
            border-color: #f7bcd0;
            transition: 0.4s;
            border: 2px solid transparent;
            transform: scale(1.1);
            opacity: 1;
        }

    }
}

@media only screen and (max-width: 700px) {
    .switcher {
        align-self: flex-start;
        position: fixed;
        top: 50vh;
        right: 0;
        flex-direction: column;
    }
}