.header {
    display: flex;
    justify-content: space-between;
    &__logo {
        margin: 0.5rem 0;
        &--link {
            margin-left: 16px;
        }
    }
    
}

@media only screen and (max-width: 700px) {
    .header {
        flex-wrap: wrap;
        flex-direction: row;
        position: relative;
        background: #141414;
        &__logo {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin: 0.5rem 0;
            z-index: 1;
           &--link {
            margin-left: unset;
            margin-right: 1rem;
        } 
        }
        
    }
}