.footer-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 2rem 0;
    a {
        color: #ffffff;
        text-decoration: none;
    }
    i {
        font-size: 28px;
        padding: 10%;
        border-radius: 100%;
        &:hover {
        transform: scale(1.1);
        }
    }
    .fa-envelope {
        background-color: #ea4335;
    }
    
    .fa-behance {
        background-color: #1769ff;
    }
    .fa-github {
        background-color: #6e5494;
    }
    .fa-linkedin-in {
        background-color: #0077b5;
    }
    
}



.footer-contact .fab, .footer-contact .far {
    background-color: unset;
    color: #ffffff25;
}

