@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Codystar&family=Comfortaa:wght@300&family=DotGothic16&family=Josefin+Sans:wght@300;400&family=Satisfy&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Comfortaa', cursive;
  background-color: #141414;
  color: #ffffff;
}
.title-container {
  background-color: #232323;
  padding: 1rem;
  text-align: center;
  width: 100%;
  &__item {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    }
}



 
  
@media only screen and (max-width:701px) {
    .title-container {
        position: fixed;
        top: 0;
    }
}
