.about-me {
    display: flex;
    margin: 3rem;
    align-items: center;
    justify-content: space-between;
    &__textbox {
        width: 60vw;
    }
    &__image-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__imagebox {
        width: 80%;
    }
    &__image {
        width: 100%;
        border-radius: 100%;
        filter: drop-shadow(2px 0px 8px); 
    }
}

.footer-styles {
    background-color: #141414;
    position: fixed;
    bottom: 0;
}